In [28]:
import requests
from bs4 import BeautifulSoup

In [29]:
page = requests.get('https://en.wikipedia.org/wiki/List_of_countries_by_the_number_of_billionaires')
page

In [30]:
soup = BeautifulSoup(page.text,'html.parser')

In [31]:
table = soup.findAll('table')

In [32]:
table = table[4]
table
for row in table.findAll('tr'):
    new_row = []
    
    for cell in row.findAll('td'):
        new_row.append(cell.get_text().strip())
    print(new_row)

[]
['1', 'China', '819[3]', 'Ma Huateng', '51.1 (2018)']
['2', 'United States', '585', 'Jeff Bezos', '132.8 (2018)']
['3', 'India[4]', '131', 'Mukesh Ambani', '40.5 (2018)']
['4', 'Germany', '114', 'Beate Heister and Karl Albrecht Jr.', '31.1 (2017)']
['5', 'Russia', '96', 'Leonid Mikhelson', '18.4  (2017)']
['6', 'Hong Kong', '67', 'Li Ka-shing', '37.7 (2018)']
['7', 'United Kingdom', '54', 'Hinduja family', '19.8 (2018)']
['8', 'Brazil', '43', 'Jorge Paulo Lemann', '29.7 (2018)']
['9', 'Italy', '42', 'Maria Franca Fissolo', '28 (2018)']
['10', 'Canada', '39', 'David Thomson', '27.2 (2017)']
['11', 'France', '38', 'Bernard Arnault', '83.5 (2018)']
['South Korea', '38', 'Lee Kun-hee', '20.6 (2018)']
['13', 'Switzerland', '36', 'Ernesto Bertarelli', '9 (2017)']
['14', 'Australia', '33', 'Gina Rinehart', '17.40 (2018)']
['Japan', '33', 'Masayoshi Son', '23 (2018)']
['16', 'Sweden', '31', 'Stefan Persson', '18.9 (2017)']
['Taiwan', '31', 'Terry Gou', '10.6 (2017)']
['18', 'Turkey', '29', 'Murat Ülker', '3.9 (2017)']
['19', 'Spain', '25', 'Amancio Ortega', '68.4 (2018)']
['20', 'Singapore', '21', 'Robert and Philip Ng', '9.7 (2017)']
['21', 'Indonesia', '20', 'Robert Budi Hartono', '12.6 (2018)']
['Thailand', '20', 'Charoen Sirivadhanabhakdi', '19.9 (2018)']
['23', 'Israel', '18', 'Eyal Ofer', '9.7 (2018)']
['24', 'Mexico', '15', 'Carlos Slim Helú', '70.5 (2018)']
['25', 'Philippines', '14', 'Henry Sy', '19.8 (2018)']
['Norway', '14', 'Odd Reitan', '4.19 (2017)']
['27', 'Chile', '12', 'Iris Fontbona', '16.3 (2018)']
['Malaysia', '12', 'Robert Kuok', '15.4 (2018)']
['29', 'Netherlands', '10', 'Charlene de Carvalho-Heineken', '16.1 (2018)']
['Saudi Arabia', '10', 'Prince Alwaleed Bin Talal Alsaud', '18.7']
['31', 'Austria', '8', 'Dietrich Mateschitz', '21.2 (2018)']
['Ireland', '8', 'Pallonji Mistry', '18.7 (2018)']
['South Africa', '8', 'Nicky Oppenheimer', '7 (2017)']
['34', 'Argentina', '7', 'Alejandro Bulgheroni', '3.5 (2017)']
['Egypt', '7', 'Nassef Sawiris', '5.3 (2016)']
['Finland', '7', 'Antti Herlin', '4.2 (2016)']
['UAE', '7', 'Al Ghurair Family', '5.9 (2018)']
['37', 'Cyprus', '6', 'John Fredriksen', '7.4 (2018)']
['Czech Republic', '6', 'Petr Kellner', '11.4']
['Denmark', '6', 'Kjeld Kirk Kristiansen', '5.5 (2018)']
['Ukraine', '6', 'Rinat Akhmetov', '4.5']
['41', 'Kazakhstan', '5', 'Bulat Utemuratov', '2.3 (2015)']
['Peru', '5', 'Carlos Rodriguez-Pastor', '2.6 (2017)']
['43', 'Greece', '4', 'Spiros Latsis', '3.2 (2018)']
['Kuwait', '4', 'Bassam and Kutayba Alghanim', '1.4 (2018)']
['Lebanon', '4', 'Najib and Taha Mikati', '2.7 (2018)']
['Monaco', '4', 'Tatiana Casiraghi', '2.3 (2017)']
['Poland', '4', 'Dominika and Sebastian Kulczyk', '3.8 (2018)']
['Portugal', '4', 'Américo Amorim', '4.8 (2017)']
['Vietnam', '4', 'Pham Nhat Vuong', '6.9 (2018)']
['49', 'Colombia', '3', 'Luis Carlos Sarmiento', '11.3 (2017)']
['Morocco', '3', 'Othman Benjelloun', '1.67 (2018)']
['Nigeria', '3', 'Aliko Dangote', '14.1 (2018)']
['Oman', '3', 'Suhail Bahwan', '3.4 (2018)']
['54', 'Belgium', '2', 'Albert Frère', '5.2 (2017)']
['New Zealand', '2', 'Graeme Hart', '10.3 (2018)']
['St. Kitts & Nevis', '2', 'Wu Xu', '1.6 (2018)']
['Venezuela', '2', 'Juan Carlos Escotet', '4.4 (2018)']
['59', 'Algeria', '1', 'Issad Rebrab', '4.31 (2017)']
['Angola', '1', 'Isabel dos Santos', '3.5 (2017)']
['Bangladesh', '1', 'Salman F Rahman', '8.5 (2018)']
['Georgia', '1', 'Bidzina Ivanishvili', '4.5 (2017)']
['Guernsey', '1', 'Stephen Lansdown', '2.4 (2018)']
['Hungary', '1', 'Sandor Csanyi', '1.14 (2018)']
['Iceland', '1', 'Thor Björgólfsson', '1.99 (2018)']
['Jordan', '1', 'Ziyad Manasir', '1.1 (2015)']
['Liechtenstein', '1', 'Christoph Zeller', '2.5 (2016)']
['Macau', '1', 'Hoi Kin Hong', '1.58 (2018)']
['Nepal', '1', 'Binod Chaudhary', '1.5 (2018)']
['Romania', '1', 'Ion Țiriac', '1.19 (2018)']
['Slovakia', '1', 'Ivan Chrenko', '1.31 (2018)']
['Swaziland', '1', 'Nathan Kirsh', '3.9 (2017)']
['Tanzania', '1', 'Mohammed Dewji', '1.52 (2018)']
['Zimbabwe', '1', 'Strive Masiyiwa', '1.65 (2018)']